In [318]:
import pandas as pd 
import numpy as np

In [319]:
training_data = pd.read_csv("training.csv", sep=';',encoding = 'utf-8-sig', decimal=',')
training_data.head(5)
training_data.loc[4]
training_data.shape

(3700, 19)

In [320]:
total = training_data.isnull().sum().sort_values(ascending=False)
percent = (training_data.isnull().sum()/training_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [321]:
#training_data['variable18'].value_counts().idxmax()
variable18_mapping = {'f': 0,'t': 1}
training_data['variable18'] = training_data['variable18'].map(variable18_mapping)
training_data['variable18'] = training_data['variable18'].fillna(1)
training_data['variable17'] = training_data['variable17'].fillna(training_data['variable17'].mean())
training_data['variable14'] = training_data['variable17'].fillna(training_data['variable14'].mean())


training_data['variable6']  = training_data['variable6'].fillna('c')
print('variable6 is : ' , training_data['variable6'].unique())
variable6_mapping = {'c': 0,'k': 1, 'ff':2 ,'i':3 ,'j':4 ,'q':5 ,'w':6 ,'d':7 ,'m':8, 'cc':9 , 'aa':10 , 'r':11 , 'x':12 , 'e':13}
training_data['variable6'] = training_data['variable6'].map(variable6_mapping)
training_data['variable6'] = training_data['variable6'].fillna(training_data['variable6'].mean())


print('variable7 is : ' , training_data['variable7'].unique())
training_data['variable7'] = training_data['variable7'].fillna(training_data['variable7'].value_counts().idxmax())
variable7_mapping = {'v': 0,'ff': 1, 'o':2 ,'h':3 ,'j':4 ,'bb':5 ,'n':6 ,'z':7 ,'dd':8}
training_data['variable7'] = training_data['variable7'].map(variable7_mapping)

print('variable4 is : ' , training_data['variable4'].unique())
training_data['variable4'] = training_data['variable4'].fillna(training_data['variable4'].value_counts().idxmax())
variable4_mapping = {'u': 0,'y': 1, 'l':2 }
training_data['variable4'] = training_data['variable4'].map(variable4_mapping)


training_data['variable5'].unique()
training_data['variable5'] = training_data['variable5'].fillna(training_data['variable5'].value_counts().idxmax())
variable5_mapping = {'g': 0,'p': 1, 'gg':2 }
training_data['variable5'] = training_data['variable5'].map(variable5_mapping)

training_data['variable1'].unique()
training_data['variable1'] = training_data['variable1'].fillna(training_data['variable1'].value_counts().idxmax())
variable1_mapping = {'a': 0,'b': 1 }
training_data['variable1'] = training_data['variable1'].map(variable1_mapping)

training_data['variable2'].unique()
training_data['variable2'] = training_data['variable2'].fillna(training_data['variable2'].mean())

variable6 is :  ['c' 'k' 'ff' 'i' 'j' 'q' 'W' 'd' 'm' 'cc' 'aa' 'r' 'x' 'e']
variable7 is :  ['v' 'ff' 'o' 'h' 'j' 'bb' 'n' 'z' nan 'dd']
variable4 is :  ['u' 'y' nan 'l']

In [322]:
#dealing with missing data
#training_data = training_data.drop((missing_data[missing_data['Total'] > 1]).index,1)
training_data.isnull().sum().max() #just checking that there's no missing data missing...

0

In [323]:
print('variable9 is : ' , training_data['variable9'].unique())
variable9_mapping = {'f': 0,'t': 1}
training_data['variable9'] = training_data['variable9'].map(variable9_mapping)


print('variable12 is : ' , training_data['variable12'].unique())
variable12_mapping = {'f': 0,'t': 1}
training_data['variable12'] = training_data['variable12'].map(variable12_mapping)


print('variable13 is : ' , training_data['variable13'].unique())
variable13_mapping = {'g': 0,'s': 1,'p':2}
training_data['variable13'] = training_data['variable13'].map(variable13_mapping)


print('variable10 is : ' , training_data['variable10'].unique())
variable10_mapping = {'f': 0,'t': 1}
training_data['variable10'] = training_data['variable10'].map(variable10_mapping)


print('classLabel is : ' , training_data['classLabel'].unique())
classLabel_mapping = {'no.': 0,'yes.': 1}
training_data['classLabel'] = training_data['classLabel'].map(classLabel_mapping)

variable9 is :  ['f' 't']
variable12 is :  ['t' 'f']
variable13 is :  ['g' 's' 'p']
variable10 is :  ['t' 'f']
classLabel is :  ['no.' 'yes.']

In [324]:
from sklearn.linear_model import LogisticRegression
X = training_data.drop(['classLabel'] , axis=1)
print (X.shape)
y = training_data['classLabel']
clf = LogisticRegression(random_state=10, solver='lbfgs' , max_iter= 1000 , C = 0.5 , tol = 0.01)
#clf = LogisticRegression(random_state=10, solver='liblinear')
#clf = LogisticRegression(random_state=10, solver='saga')
training_data.shape

(3700, 18)

(3700, 19)

In [325]:
test_data = pd.read_csv("validation.csv", sep=';',encoding = 'utf-8-sig', decimal=',')

In [326]:
total = test_data.isnull().sum().sort_values(ascending=False)
percent = (test_data.isnull().sum()/test_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

            Total  Percent
variable18    111    0.555
variable1       3    0.015
variable17      3    0.015
variable2       3    0.015
variable14      3    0.015
variable6       3    0.015
variable7       3    0.015
variable4       2    0.010
variable5       2    0.010
variable8       0    0.000
variable3       0    0.000
classLabel      0    0.000
variable9       0    0.000
variable19      0    0.000
variable11      0    0.000
variable12      0    0.000
variable13      0    0.000
variable15      0    0.000
variable10      0    0.000

In [327]:
test_data['variable18'].unique()
variable18_mapping = {'f': 0,'t': 1}
test_data['variable18'] = test_data['variable18'].map(variable18_mapping)
test_data['variable18'] = test_data['variable18'].fillna(0)


variable1_mapping = {'a': 0,'b': 1}
test_data['variable1'] = test_data['variable1'].map(variable1_mapping)
test_data['variable1'] = test_data['variable1'].fillna(test_data['variable1'].value_counts().idxmax())

test_data['variable2'] = test_data['variable2'].fillna(test_data['variable2'].mean())
test_data['variable17'] = test_data['variable17'].fillna(test_data['variable17'].mean())
test_data['variable14'] = test_data['variable14'].fillna(test_data['variable17'].mean())


variable6_mapping = {'c': 0,'k': 1, 'ff':2 ,'i':3 ,'j':4 ,'q':5 ,'w':6 ,'d':7 ,'m':8, 'cc':9 , 'aa':10 , 'r':11 , 'x':12 , 'e':13}
test_data['variable6'] = test_data['variable6'].map(variable6_mapping)
test_data['variable6'] = test_data['variable6'].fillna(test_data['variable6'].mean())

test_data['variable4'] = test_data['variable4'].fillna(test_data['variable4'].value_counts().idxmax())
variable4_mapping = {'u': 0,'y': 1 }
test_data['variable4'] = test_data['variable4'].map(variable4_mapping)

test_data['variable5'] = test_data['variable5'].fillna(test_data['variable5'].value_counts().idxmax())
variable5_mapping = {'g': 0,'p': 1 }
test_data['variable5'] = test_data['variable5'].map(variable5_mapping)

test_data['variable7'] = test_data['variable7'].fillna(test_data['variable7'].value_counts().idxmax())
variable7_mapping = {'bb': 0,'v': 1 , 'ff':2 , 'z':3 , 'h':4 , 'dd':5 , 'n':6 , 'j':7 }
test_data['variable7'] = test_data['variable7'].map(variable7_mapping)

In [328]:
#dealing with missing data
test_data.isnull().sum().max() #just checking that there's no missing data missing...

0

In [329]:
print('variable9 is : ' , test_data['variable9'].unique())
variable9_mapping = {'f': 0,'t': 1}
test_data['variable9'] = test_data['variable9'].map(variable9_mapping)

print('variable12 is : ' , test_data['variable12'].unique())
variable12_mapping = {'f': 0,'t': 1}
test_data['variable12'] = test_data['variable12'].map(variable12_mapping)


print('variable13 is : ' , test_data['variable13'].unique())
variable13_mapping = {'g': 0,'s': 1,'p':2}
test_data['variable13'] = test_data['variable13'].map(variable13_mapping)

print('variable10 is : ' , test_data['variable10'].unique())
variable10_mapping = {'f': 0,'t': 1}
test_data['variable10'] = test_data['variable10'].map(variable10_mapping)


print('classLabel is : ' , test_data['classLabel'].unique())
classLabel_mapping = {'no.': 0,'yes.': 1}
test_data['classLabel'] = test_data['classLabel'].map(classLabel_mapping)

variable9 is :  ['t' 'f']
variable12 is :  ['t' 'f']
variable13 is :  ['s' 'g' 'p']
variable10 is :  ['f' 't']
classLabel is :  ['no.' 'yes.']

In [330]:
X = training_data.drop(['classLabel'] , axis=1)
print (X.shape)
y = training_data['classLabel']
X_test = test_data.drop(['classLabel'] , axis=1)
print (X_test.shape)
y_test = test_data['classLabel']

(3700, 18)
(200, 18)

In [334]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)
X_test = sc.transform(X_test)


# Fitting Logistic Regression to the Training set
clss = LogisticRegression(random_state = 0)
clss.fit(X, y)

# Predicting the Test set results
y_pred = clss.predict(X)
y_pred 
print('LogisticRegressionModel Train Score is : ' , clss.score(X, y))
print('LogisticRegressionModel Test Score is : ' , clss.score(X_test, y_test))

LogisticRegressionModel Train Score is :  1.0
LogisticRegressionModel Test Score is :  0.495

In [332]:
#scaler = preprocessing.StandardScaler().fit(X)
#LogisticRegressionModel = LogisticRegression(penalty='l2',solver='sag',C=1.0,random_state=33)
#LogisticRegressionModel.fit(X, y)
#scaler = preprocessing.StandardScaler().fit(X)

#Calculating Details
#print('LogisticRegressionModel Train Score is : ' , LogisticRegressionModel.score(X, y))
#print('LogisticRegressionModel Test Score is : ' , LogisticRegressionModel.score(X_test, y_test))
#print('LogisticRegressionModel Classes are : ' , LogisticRegressionModel.classes_)
#print('LogisticRegressionModel No. of iteratios is : ' , LogisticRegressionModel.n_iter_)
#print('----------------------------------------------------')

#Calculating Prediction
#y_pred = LogisticRegressionModel.predict(X_test)
#y_pred_prob = LogisticRegressionModel.predict_proba(X_test)
#print('Predicted Value for LogisticRegressionModel is : ' , y_pred[:10])
#print('Prediction Probabilities Value for LogisticRegressionModel is : ' , y_pred_prob[:10])